PORT=3000
DEFAULT_TARGET_LANGUAGE=English
DEFAULT_MODEL=deepseek

OPENAI_API_KEY=
OPENAI_VISION_MODEL=gpt-4o

GEMINI_API_KEY=
GEMINI_VISION_MODEL=gemini-1.5-pro

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_VISION_MODEL=
DEEPSEEK_MODEL=deepseek-chat

MAX_IMAGE_SIZE_MB=8
